/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .settings_page_civicrm-ux-setting #wpcontent {
    h2 {
        font-size: 1.4em;
        margin-top: 1.5em;
    }

    h3 {
        font-size: 1.3em;
        margin-top: 1.5em;
    }
 }